<div class="container padding bg-white">
  <div class="row">
    <input class="col-sm-3 mb-4" type="text" placeholder="Enter Event Name To Add" #newEvent>
    <input class="col-sm-2 mb-4" type="date" #newDate>

    <select class="ml-sm-5 mb-4" type="number" [(ngModel)]="sportID" (ngModelChange)="findSportID()">
      <option *ngFor="let sport of Sports" [ngValue]="sport.id">{{sport.sportName}}</option>
    </select>

    <select *ngIf="SportCountry != []" class="ml-sm-5 mb-4" type="number" [(ngModel)]="countryID" (ngModelChange)="findCountryID()">
      <option *ngFor="let sptCountry of SportCountry" [ngValue]="sptCountry.id">{{sptCountry.countryName}}</option>
    </select>

    <select *ngIf="Tournament != []" class="ml-sm-5 mb-4" type="number" [(ngModel)]="tournamentID" (ngModelChange)="findTournamentID()">
      <option *ngFor="let tours of Tournament" [ngValue]="tours.id">{{tours.tournamentName}}</option>
    </select>

    <button class="btn btn-dark ml-3 mb-4" (click)="postEvents(newEvent.value, tournamentID, newDate.value); newDate.value=''; newEvent.value=''">Add</button>
  </div>
  <div class="loader" *ngIf="!events"></div>
  <div *ngIf="events">
    <table class="table table-striped table-borderless col-md-12">
      <th>Name</th>
      <th></th>
      <th></th>
      <tr *ngFor="let event of events">
        <td>{{event.eventName}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvents(event)">Delete <i class="fa fa-trash"></i></button>
          <button class="btn btn-primary" (click)="event.isHidden =!event.isHidden">Edit <i class="event.isHidden ? fa fa-edit"></i></button>
        </td>
        <td align="right">
          <div *ngIf="event.isHidden">
            <input type="text" value="{{event.eventName}}" #edit>
            <button class="ml-1 btn btn-primary" (click)="editEvents(edit.value, event.id); event.isHidden =!event.isHidden">Save</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>